nav {
    @include build-box(100%, auto);
    @include flex(row,nowrap, space-around);
}
.links{
    text-transform: uppercase;
    &__container{

        ul {
            @include flex;
            justify-content: flex-end;
            li {
                margin: 0 10px;
                @include default-link;
            }

        }

    }
}
