

.testimonials {
    &__container {
       @include flex(column);

        background-image: url("../../../images/bg/testimonials_bg.png");
        justify-content: flex-start;
        padding: 0;

    }
}

.testimonial__wrap {

    @include flex(column);
    @include build-box(50%);
    h1 {
        margin-top: 10%;
        @include default-header;

    }
    p {
        @include default-paragraph;
        text-align: center;
    }

    padding-top: 3%;
}

.testimonial {
    &__author {
        @include flex(column);
        h1 {
            @include default-header;
            font-family: $font-subtitle;
            font-size: 0.9em;
            margin-top: 20px;
        }
        h2 {
            @include default-paragraph;
            font-family: $font-paragraph;
            font-size: 0.7em;

        }
    }
    &__gallery {
        @include flex;
        position: absolute;
        height: 70px;
        bottom: 25%;
        img{
            cursor: pointer;
        }
    }
    &__image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 10px;

        img {

            cursor: pointer;
            &:hover {

                transform: scale(1.4);

            }
            transition: all 200ms ease-in;

        }

    }

}

