$test: black;

/*dimensions*/
$slideshow-width:500px;
$slideshow-height:auto;
$page-section-width: 100%;
$page-section-height: auto;
$page-section-min-height: 550px;
 /*colors*/
$purple-background: #4d3e73;
