$test: black;

/*dimensions*/
$slideshow-width:960px;
$slideshow-height:700px;
$page-section-width: 100%;
$page-section-height: auto;
$page-section-min-height: 550px;
 /*colors*/
$purple-background: #4d3e73;

/**
=======
ANGULAR
=======
*/
$font-regular:'Montserrat', sans-serif;
$font-title: 'Montserrat black', sans-serif;
$font-subtitle: 'Montserrat Semi Bold', sans-serif;
$font-paragraph: 'Montserrat Light', sans-serif;
$font-button: 'Montserrat', sans-serif;
$font-link: 'Montserrat', sans-serif;

/*colors*/
$placeholder-color: #a09ea5;
$border-light: #a09ea5;

$gallery-colors: #D0D0D0, #909090, #707070, #484848;

$background-purple: #4d3e73;
$highlight: #05e0bf;
$text-highlight: #00e0d0;
$text-menu: white;
$paragraph-color: #7a7a7a;

/*dimensions*/
$slideshow-bar-spacing: 25pt;
$grid-width: 960pt;
$sponsor-image-height: 70pt;
$sponsor-image-width: 162pt;
$sponsor-image-gutter: 22pt;
$contact-section-gutter: 30pt;
$footer-column-width: 280pt;
$footer-column-height: 160pt;
